@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Style For All Pages and Sections */

:root {
    --main-color: #7F1431;
    --second-color: #8D1B3D;
}

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}


/* Home Page Styles */


/* Hero Section... */

.section {
    padding: 50px 140px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    padding: 0 100px;

}

.content {
    width: 60%;
}

.content h1 {
    font-size: 40px;
    line-height: 1.3;
}

.content p {
    color: #E8E8E8;
    line-height: 1.5;
}

.content button {
    height: 50px;
    width: 35%;
    background-color: var(--second-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    transition: background-color 400ms ease-in;
}

.content button a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 13px;
}

.content button:hover {
    height: 50px;
    width: 35%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.content button:hover a {
    color: black;
}

.content button span {
    padding-left: 10px;
}

.hero-img img {
    width: 140%;
    margin: 57px 0 -15px -30px;
}



/* Blog Section... */

.blog-container {
    display: flex;
    margin-bottom: 50px;
}

.sidebar-section {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #161616;
    border-radius: 10px;
}

.sidebar-section button {
    height: 48px;
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    font-weight: 600;
    transition: 500ms;

}

.sidebar-section button:hover {
    background-color: var(--main-color);
}

.sidebar-section button:hover a {
    color: white;
}

.sidebar-section button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    padding: 10px;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 12px;
} 

.blog-img img {
    width: 100%;
}

.blog-content {
    padding: 20px 15px;
}

.blog-content button {
    height: 32px;
    width: 45%;
    border: 1.5px solid #5B5B5B;
    background-color: #ffffff;
    color: #161616;
    border-radius: 5px;
    font-weight: 600;
    transition: 500ms;
}

.blog-content button:hover {
    background-color: var(--main-color);
    color: white;
}

.blog-content h3 {
    color: #161616;
    font-size: 15px;
    line-height: 1.4;
}

.info-icons {
    display: flex;
    align-items: center;
    color: #5B5B5B;
    font-size: 17px;
}

.info-icons span {
    padding-right: 25px;
}

.info-icons span i {
    padding-right: 5px;
}

.view-all-btn {
    display: none;
    height: 50px;
    width: 25%;
    background-color: var(--second-color);
    color: white;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 17px;
    transition: background-color 400ms ease-in;
}

.view-all-btn a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 13px;
    font-weight: 600;
}

.view-all-btn:hover {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.view-all-btn:hover a {
    color: white;
}


/* Footer Section... */

.footer-section {
    width: 100%;
    height: 350px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section h2 {
    color: white;
    font-size: 35px;
}

.footer-section .hr-line {
    width: 85%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}


.footer-menu ul {
    list-style: none;
    display: flex;
    padding: 25px 0;
}

.footer-menu ul li {
    padding-right: 60px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #B9B9B9;
    transition: 400ms;
}

.footer-menu ul li a:hover {
    color: white;
}




/* Responsive Media Query Code... */

@media screen and (max-width: 576px) {

    /* Hero Section Media Query Style... */

    .section {
        padding: 15px;
    }

    .hero-container {
        padding: 0;
        flex-direction: column;
        text-align: center;
        height: 706px;
        padding-top: 20px;
    }


    .hero-img img {
        width: 100%;
        margin: 0;
        margin-bottom: -33px;
        margin-left: 20px;
        margin-right: -20px
    }

    .content h1 {
        font-size: 28px;
    }

    .content button {
        text-align: center;
        width: 55%;
    }

    .content button:hover {
        text-align: center;
        width: 55%;
    }

    .content {
        width: 80%;
        padding-bottom: 20px;
    }


    /* Blog Section Media Query Style */

    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-section {
        width: 310px;
        background-color: rgba(232, 232, 232, 0);
        margin-right: 0;
    }

    .sidebar-section button {
        height: 50px;
        width: 80%;
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .blog {
        border-radius: 20px;
    }

    .blog-content button {
        height: 35px;
        width: 35%;
    }

    .blog-content h3 {
        font-size: 20px;
        line-height: 1.4;
    }

    .info-icons {
        font-size: 18px;
    }

    /* Footer Section... */


    .footer-section {
        height: 500px;
    }

    .footer-menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .footer-menu ul li {
        padding-top: 30px;
        padding-right: 0;
        text-align: center;
    }
}


/* Tablet Devices Responsive Media Query Style */

@media screen and (min-width: 576px) and (max-width:  991px) {

    .section {
        padding: 25px;
    }

    .hero-container {
        height: 440px;
    }

    .content {
        width: 70%;
    }

    .content h1 {
        font-size: 30px;
        line-height: 1.3;
    }

    .content button {
        width: 50%;
    }

    .content button:hover {
        width: 50%;
    }

    .hero-img img {
        width: 130%;
        margin: 89px 0 0px 0px;
    }

    /* Blog Section Media Query Style */

    .section {
        padding-bottom: 0;
    }

    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-section {
        width: 100%;
        height: 140px;
        background-color: rgba(232, 232, 232, 0);
        margin-right: 0;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .sidebar-section button {
        width: 30%;
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .last-blog {
        display: none;
    }

    /* Show "View All" Button Only for Tablet Devices */
    .view-all-btn {
        display: block;
    }

    .blog-content h3 {
        font-size: 18px;
        line-height: 1.5;
    }


    /* Footer Section Media Query Style */

    .footer-menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu ul {
        list-style: none;
        display: flex;
        padding: 25px 30px;
    }
    
    .footer-menu ul li {
        padding-right: 25px;
        padding-bottom: 25px;
        text-align: center;
    }
    
}